* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
	text-decoration: none;
	list-style: none;
}

body {
	background-color: #000;
	min-height: 100vh;
	display: flex;
	align-items: center;
}

header {
	position: absolute;
	align-items: center;
	display: flex;
	position: absolute;
	top: 2%;
	left: 1%;
	transform: translate(-50%, -50%);
	transform: rotate(180deg);
}

header img {
	filter: invert();
	width: 20px;
}

::-webkit-scrollbar {
	display: none;
}

::-o-scrollbar {
	display: none;
}

::-moz-scrollbar {
	display: none;
}

.container {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.container span {
	text-transform: uppercase;
	display: block;
}

.text1 {
	color: white;
	font-size: 60px;
	font-weight: 700;
	letter-spacing: 8px;
	margin-bottom: 20px;
	background: black;
	position: relative;
	animation: text 3s 1;
}

.text1 span {
	display: inline;
}

.text2 {
	font-size: 30px;
	color: gold;
	text-decoration-line: underline;
}

.text3 {
	color: white;
	font-size: 60px;
	font-weight: 700;
	letter-spacing: 8px;
	margin-bottom: 20px;
	background: black;
	position: relative;
	animation: text 3s 1;
}

.text4 {
	font-size: 30px;
	color: #576574;
	animation: text 3s 1;
}

.text5 {
	color: white;
	font-size: 35px;
	font-weight: 700;
	letter-spacing: 8px;
	margin-bottom: 20px;
	background: black;
	position: relative;
	animation: text 3s 1;
}

.vip {
	font-size: 30px;
	color: #576574;
	animation: vip 5s 1;
}

.container a {
	text-decoration: none;
	color: #576574;
}

#click {
	text-decoration: none;
	color: #ff9f43;
	font-weight: bold;
}

#click2 {
	text-decoration: none;
	color: #4cd137;
}

@keyframes text {
	0% {
		color: black;
		margin-bottom: -40px;
	}
	30% {
		letter-spacing: 25px;
		margin-bottom: -40px;
	}
	85% {
		letter-spacing: 8px;
		margin-bottom: -40px;
	}
}

@keyframes vip {
	0% {
		opacity: 0;
		color: #000;
	}
	50% {
		opacity: 0;
	}
}

/* BE VIP! */

.pricing-table {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: min(1600px, 100%);
	margin: auto;
}

.pricing-table li {
	margin: 3px;
	font-weight: 549;
}

.pricing-card {
	flex: 1;
	max-width: 360px;
	background-color: whitesmoke;
	margin: 20px 10px;
	text-align: center;
	cursor: pointer;
	overflow: hidden;
	color: #2d2d2d;
	transition: 0.3s linear;
	border-radius: 8px;
}

.pricing-card a {
	color: black;
}

.pricing-card-header {
	background-color: #576574;
	display: inline-block;
	color: #fff;
	padding: 12px 30px;
	border-radius: 0 0 20px 20px;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 600;
	transition: 0.4s linear;
}

.pricing-card:hover .pricing-card-header {
	box-shadow: 0 0 0 26em #576574;
}

.price {
	font-size: 70px;
	color: #8395a7;
	margin: 40px 0;
	transition: 0.2s linear;
}

.price sup,
.price span {
	font-size: 22px;
	font-weight: 700;
}

.pricing-card li:hover,
.pricing-card:hover .price {
	color: #fff;
}

.price-card li {
	font-size: 16px;
	padding: 10px 0;
	text-transform: uppercase;
}

.order-btn {
	display: inline-block;
	margin-bottom: 40px;
	margin-top: 80px;
	border: 2px solid #8395a7;
	color: #8395a7;
	padding: 18px 40px;
	border-radius: 8px;
	text-transform: uppercase;
	font-weight: 500;
	transition: 0.3s linear;
}

.order-btn:hover {
	background-color: #8395a7;
	color: #fff;
}

@media screen and (max-width: 1100px) {
	.pricing-card {
		flex: 50%;
	}
}

.vipcontainer {
	width: 720px;
	height: 480px;

	margin: 0px auto;

	text-align: center;

	color: white;
}

.vipcontainer legend {
	font-size: 24px;
	margin-bottom: 10px;
}

.vipcontainer legend span {
	color: gold;
}

.vipcontainer li {
	color: white;

	margin: 2px;

	font-size: 20px;
}

.vipcontainer p {
	font-size: 14px;

	font-style: italic;
}

@media (max-width: 800px) {
	body {
		background-color: black;
	}

	.text1 {
		color: white;
		font-size: 60px;
		font-weight: 700;
		letter-spacing: 8px;
		margin-bottom: 20px;
		position: relative;
		animation: text 3s 1;
	}

	@keyframes text {
		0% {
			opacity: 0;
		}
	}

	@keyframes vip {
		0% {
			opacity: 0;
			color: #000;
		}

		15% {
			opacity: 0;
		}
	}

	header {
		position: absolute;
		align-items: center;
		display: flex;
		position: absolute;
		top: 3%;
		left: 3%;
		transform: translate(-50%, -50%);
		transform: rotate(180deg);
	}

	header img {
		filter: invert();
		width: 25px;
	}
}

@media (max-width: 720px) {
	header {
		margin: 0px 0px 10px 0px;
	}

	.vipcontainer {
		width: 100%;
		height: 480px;

		margin: 0px auto;

		text-align: center;

		color: white;
	}

	.vipcontainer p {
		font-size: 12px;

		font-style: italic;
	}

	.text1 {
		font-size: 45px;
	}

	.text2 {
		font-size: 25px;
	}

	.text3 {
		font-size: 45px;
	}

	.text5 {
		font-size: 30px;
	}

	.text4 {
		font-size: 25px;
	}

	.vip {
		font-size: 25px;
	}
}

@media (max-width: 500px) {
	header img {
		filter: invert(none);
		width: 25px;
		padding-top: 35px;
	}

	.pricing-table {
		margin-top: 45px;
	}

	.text1 {
		font-size: 45px;
	}

	.text2 {
		font-size: 25px;
	}

	.text3 {
		font-size: 35px;
	}

	.text5 {
		font-size: 25px;
	}

	.text4 {
		font-size: 20px;
	}

	.vip {
		font-size: 25px;
	}
}
